<div class="ui segment">
    <div class="ui secondary menu">
        <div class="right menu">
            <button onclick="updateButton(this, '0xLD')" class="ui blue button"> <i
                    class="icon sync"></i>LET LOCK VICTIM DEVICE [TOXIC-VENOM]</button>
        </div>
    </div>
</div>
